
services:
  postgres:
    image: postgres:18-alpine
    container_name: hook-relay-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: hook-relay
    ports:
      - '5434:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    ports:
      - '6379:6379'

volumes:
  postgres_data:
